{% extends "base.html" %}

{% block body %}

<!--
  Ohai
-->

{% filter markdown %}
Wednesdays, 9:30-12  (2/17 - 4/6)

Mike Dory  | [michael.dory@nyu.edu](mailto:michael.dory@nyu.edu)  
Office hours: Tuesdays, 6:30-8:30 (or by request)
{% endfilter %}


<!--
  Main intro copy
-->

<a id="overview" class="anchor"></a>
{% filter markdown %}
## OVERVIEW

Design Expo is an eight-week design challenge — seven weeks during the semester, and one after. Students will work in groups to understand, and then respond to, a brief from Microsoft Research (MSR), and then present their work for feedback and iteration. Each week will also feature guest presenters from the practitioners from the likes of Google, Microsoft, Kickstarter, and more.

This year's theme is "Achieving Symbiosis and the Conversational User Interface (CUI)," and allows for a wide variety of interpretations. Given the scale and range of the topic, it will be critical for students to focus in on a particular community, type of interface, and problem that has impact. Students will form their own small groups of 3-5 people (before applying), and each group will research the challenge, propose possible innovations or solutions, and then iterate those proposals. A successful proposal can be a demo ("We've imagined a new possibility, and this is what it would look like") or a prototype ("We've imagined a new possibility, and we built a small version of it.")

At the end of the workshop one group will be selected by outside reviewers to travel to Redmond, WA in July to present their proposal at MSR's Faculty Research Summit along with other students from top institutions around the world.

This workshop will run from 9:30-12 for seven sessions, and will meet for one additional session in July, prior to the trip to Microsoft.


## COMPENSATION

Design Expo an extra-curricular workshop. As such, accepted groups will be awarded a small research stipend, pending a successful completion of the program.


## SPECIFICATIONS

Students will submit their proposals as a group by February 8th, and selected groups will be notified of their acceptance by February 12th.


## ASSIGNMENTS

The majority of the assigments given for this workshop are group-oriented, and focus on the definition, evolution, and presentation of each team's concepts. As such, each group should come prepared to not only discuss the assignments each week, but to give updates on the progression of their projects.

While most readings are available online and/or will be distributed by the instructor, the following text is required:

- [The Glass Cage: How Our Computers Are Changing Us by Nicholas Carr](http://amzn.com/0393351637)

The following texts offer great insights into the the subject matter, and are recommended, though not required:

- [Smarter Than You Think: How Technology Is Changing Our Minds for the Better by Clive Thompson](http://amzn.com/B00C5R7AJK)
- [The User Illusion: Cutting Consciousness Down to Size](http://amzn.com/0140230122)
{% endfilter %}


<!--
  Session listing
-->

<a id="outline" class="anchor"></a>
{% filter markdown %}
## PROGRAM OUTLINE

<a id="week1" class="anchor"></a>
### Week 1: 2/17 - Why are we here?
*Speaker: Clive Thompson, Wired/New York Times*

- The plan for this program 
    - [The brief]({% static '/static/documents/achieving-symbiosis-2016.pdf' %})
    - Your groups
    - The timeline
    - The expectations
- The topic 
    - The details
    - The thought behind it
    - Relevant examples

#### Assignments

- Think about the brief, and how it relates to your ideas
    - [Beyond the GUI: It’s Time for a Conversational User Interface](http://www.wired.com/2013/03/conversational-user-interface/)
    - [Futures of text](http://whoo.ps/2015/02/23/futures-of-text)
    - [AI and robots threaten to unleash mass unemployment, scientists warn](http://www.ft.com/intl/cms/s/0/063c1176-d29a-11e5-969e-9d801cf5e15b.html#axzz40C0GqMJF)
- Prepare for your first presentation
    - Give a 10-15 minute presentation on what you want to make
        - What are you proposing, and why?
        - What's your idea, and why is it a *good* idea? (can it pass the "so what" test)?
        - What does your market look like? Who would use this/who would this benefit?
        - What does the market look like? Who else has done this?
        - How might it work? What form will it take?
        - What do you plan to produce for this class?
        - who it is for, how it might work, and what you will produce for this class.
- Check out some chat-based examples
    - [WeChat](http://www.wired.com/2015/08/time-to-ditch-texting/)
    - [Quartz news app](http://techcrunch.com/2016/02/11/quartzy-news-app)
    - [Clara](http://claralabs.com)
    - [Motion](http://motion.ai/)
    - [IBM Watson for The North Face](https://www.youtube.xcom/watch?v=x6p05Oc6Ih0)



<a id="week2" class="anchor"></a>
### Week 2: 2/24 - What's your idea?
*Speaker: Vikram Tank, Google*

- Present your concepts 
    - Group critique
    - Research suggestions
    - Discuss next steps
- Where to go from here 
    - Points of inspiration around the topic
    - Ways to vet/poke at the idea
    - How to work as a team

#### Assignments

- Develop your project plans
- Read
    - [On conversational UIs](http://interconnected.org/home/2015/06/16/conversational_uis)
    - [No UI is the New UI](https://medium.com/swlh/no-ui-is-the-new-ui-ab3f7ecec6b3#.gtxgss6s6)


<a id="week3" class="anchor"></a>
### Week 3: 3/2 - What did you learn?
*Speaker: John Dimatos, Kickstarter*

- How is your idea evolving 
    - How does it work within the theme
    - Iterations
    - Research discoveries
    - What to work on next
- What are you going to build
- What are you going to present

#### Assignments

- Watch at least two of the previous presentations for Design Expo
    - [Design Expo 2015](http://research.microsoft.com/en-us/events/designexpo2015/)


<a id="week4" class="anchor"></a>
### Week 4: 3/9 - How do you present it?
*Speaker: Matt Powell, KBS | Spies & Assassins*

- What it means to present well 
    - Good presentation examples
    - How to communicate your ideas
- Discuss evolution of concepts 
    - Group discussion

#### Assignments

- Do an Ignite presentation and record it
    - Read [How To Give a Great Ignite Talk](http://scottberkun.com/2009/how-to-give-a-great-ignite-talk/)
    - Watch some [Ignite videos](http://www.ignitetalks.io/videos)

<a id="week5" class="anchor"></a>
### Week 5: 3/23 - Research and Prototyping
*Speaker: Kati London, Microsoft Research*

- Where are your concepts now 
    - What's changed
    - What are you worrying about
- How to do research right 
    - Vetting your concepts
    - Testing with users
    - Learning from your mistakes

<a id="week6" class="anchor"></a>
### Week 6: 3/30 - Bringing it to life

- We're almost there 
    - How's everything coming together?
    - What do you need to do to get this over the line?
- Final presentation points 
    - What makes the presentation work
    - What's different between presenting and making
    - How you can get people excited

<a id="week7" class="anchor"></a>
### Week 7: 4/6 - Presentations
*Guest Critics: TBD*

- Each group presents their work
- Select our winners!

**--- Break for thesis ---**

<a id="week8" class="anchor"></a>
### Week 8: July - Dress rehearsal
*Guest Critics: TBD*

- Feedback and recommendations
- Workshop

{% endfilter %}

{% endblock %}
